/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* My CSS */

:root {
  --card-width: 200px;
  --card-height: calc(var(--card-width) * 6 / 5);
}

.header {
  width: 100%;
  height: 5rem;

  background-color: #D5BDAF;

  position: fixed;
  top: 0;
}

.header .header-content {
  height: 100%;
  margin: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .logo {
  font-size: 2.2rem;
  font-family: 'Ibarra Real Nova', 'sans-serif', Verdana;
  font-weight: 700;

  color: #edede9;

  user-select: none;
}

.header-content .settings button {
  background-color: #fbfaf8;
  border: none;
  border-radius: 5px;

  padding: 8px 16px;
  font-size: 1rem;
}

.header-content .settings button:hover {
  box-shadow: 0 0 2px #edede9;
  transform: scale(1.02);
  cursor: pointer;
}

.content {
  margin-top: 5rem;
  padding: 30px 50px;
  height: 35rem;
  
  background-color: #efede6;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
  gap: 20px;
  justify-content: center;
}

.content .book-card {
  width: var(--card-width);
  height: var(--card-height);

  padding: 8px 16px;
  
  background-color: #ccd2bb;
  border-radius: 20px;
  box-shadow: 0 0 5px #d6ccc2;

  display: grid;
  grid-template-rows: 50% 15% 15% 20%;
  justify-items: center;
  text-align: center;
}

.content .book-card:hover {
  box-shadow: 0 0 10px #d6ccc2;
}

.book-card > * {
  width: 100%;
  align-self: center;
}

.book-card .title-block {
  font-family: 'Cormorant SC', 'sans-serif', Verdana;
  font-weight: 700;
  font-size: 1.8rem;
}

.title-block .title,
.author-block .author {
  display: block;

  height: 100%;
  min-width: 100%;
  width: 0;

  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card .author-block,
.book-card .pages {
  font-family: 'Open sans', 'sans-serif', Verdana;
  font-weight: 300;
  font-size: 1.1rem;
}

.book-card .read {
  width: 50%;
  height: 60%;
  padding: 5px 10px;

  font-family: 'Open sans', 'sans-serif', Verdana;

  background-color: #f4f2e1;

  border: none;
  border-radius: 5px;
}

.book-card .read:hover {
  transform: scale(1.05);
  cursor: pointer;

  font-weight: 700;
}